/* basic css */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.row {
    width: 1140px;
    background-color: blue;
    margin: 0% auto;
}


/* universal css */

h1 {
    margin: 0%;
}


/* header css */

.vilen-text-box h1 {
    color: white;
    padding-top: 500;
    margin-left: 500;
    text-transform: uppercase;
}

.vilen-text-box span {
    font-weight: 300;
    font-size: 27px;
}

header {
    background-image: url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh
}